<div class="container">
  <div class="row">
    <div class="col">
      <form action="http://localhost:3000/api/products/add" method="post">
        <div class="form-group">
          <label for="name">
            Name
          </label>
          <input class="form-control" [(ngModel)]="newProduct.name" type="text" name="product.name"
            (keyup)="onKey($event)" id="name" required>
        </div>
        <div class="form-group">
          <label for="seo">
            Seo
          </label>
          <input class="form-control" [(ngModel)]="newProduct.seo" type="text" name="newProduct.seo" id="seo" disabled>
        </div>
        <div class="form-group">
          <label for="brand">
            Brand
          </label>
          <input class="form-control" [(ngModel)]="newProduct.brand" type="text" name="product.brand" id="brand"
            required>
        </div>
        <div class="form-group">
          <label for="description">
            Description
          </label>
          <textarea class="form-control" [(ngModel)]="newProduct.description" name="product.description"
            id="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="img">
            Image
          </label>
          <input class="form-control" [(ngModel)]="newProduct.img" type="file" name="product.img" id="img" required>
        </div>
        <div class="form-group">
          <label for="menu">
            Menu
          </label>
          <input class="form-control" [(ngModel)]="newProduct.menu" type="text" name="product.menu" id="menu" required>
        </div>
        <div class="form-group">
          <label for="category">
            Category
          </label>
          <input class="form-control" [(ngModel)]="newProduct.category" type="text" name="product.category"
            id="category" required>
        </div>
        <div class="form-group">
          <label for="price">
            Price
          </label>
          <input class="form-control" [(ngModel)]="newProduct.price" type="number" name="product.price" id="price"
            required>
        </div>
        <button type="submit" class="btn btn-success" (click)="onCreate()">Submit</button>
      </form>
    </div>
  </div>
</div>
