<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-header">
          <h3>Add new product!</h3>
        </div>
        <form #newProductForm="ngForm" novalidate action="http://localhost:3000/api/products/add" method="post">
          <div class="card-body">
            <div class="form-group">
              <label for="name">
                Name
              </label>
              <input class="form-control" [(ngModel)]="newProduct.name" type="text" name="product.name"
                (keyup)="onKey($event)" id="name" required #productName="ngModel" placeholder="Name of the product">
              <div *ngIf="productName.invalid && (productName.touched || productName.dirty)" class="alert alert-danger">
                Name is required</div>
              <div *ngIf="wrongName" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> It seems like this name already exsists in the database.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="seo">
                Seo
              </label>
              <input class="form-control" [(ngModel)]="newProduct.seo" type="text" name="newProduct.seo" id="seo"
                disabled>
            </div>
            <div class="form-group">
              <label for="brand">
                Brand
              </label>
              <input class="form-control" [(ngModel)]="newProduct.brand" type="text" name="product.brand" id="brand"
                required #brand="ngModel" placeholder="Brand of the product">
              <div *ngIf="brand.invalid && (brand.touched || brand.dirty)" class="alert alert-danger">Brand is required
              </div>
            </div>
            <div class="form-group">
              <label for="description">
                Description
              </label>
              <textarea rows="5" class="form-control" [(ngModel)]="newProduct.description" name="product.description"
                id="description" required #description="ngModel" placeholder="Description of the product"></textarea>
              <div *ngIf="description.invalid && (description.touched || description.dirty)" class="alert alert-danger">
                Description is required
              </div>
            </div>
            <div class="form-group">
              <label for="img">
                Image
              </label>
              <br>
              <input type="file" name="photo" ng2FileSelect [uploader]="uploader" multiple />
              <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                [disabled]="!uploader.getNotUploadedItems().length">
                Upload
              </button>
            </div>
            <div class="form-group">
              <label for="video">
                Video
              </label>
              <input class="form-control" [(ngModel)]="newProduct.video" type="text" name="product.video" id="video" placeholder="Link of the product's video">
            </div>
            <div class="form-group">
              <label for="menu">Menu</label>
              <select name="menu" id="menu" class="form-control" [(ngModel)]="newProduct.menu">
                <option [value]="'Printers and Scanners'">Printers and Scanners</option>
                <option [value]="'Science'">Science</option>
                <option [value]="'Magic'">Magic</option>
              </select>
            </div>
            <div *ngIf="newProduct.menu" class="form-group">
              <label for="category">
                Category
              </label>
              <div [ngSwitch]="newProduct.menu">
                <!-- the same view can be shown in more than one case -->
                <select name="category" class="form-control" [(ngModel)]="newProduct.category"
                  *ngSwitchCase="'Printers and Scanners'">
                  <option [value]="'printers'">Printers</option>
                  <option [value]="'scanners'">Scanners</option>
                  <option [value]="'filaments'">Filaments</option>
                  <option [value]="'tools'">Tools</option>
                </select>

                <select *ngSwitchCase="'Science'" name="category" class="form-control"
                  [(ngModel)]="newProduct.category">
                  <option [value]="'health'">Health</option>
                  <option [value]="'electronics'">Electronics</option>
                  <option [value]="'mechanics'">Mechanics</option>
                  <option [value]="'architecture'">Architecture</option>
                </select>

                <select *ngSwitchCase="'Magic'" name="category" class="form-control" [(ngModel)]="newProduct.category">
                  <option [value]="'kids'">Kids</option>
                  <option [value]="'practical'">Practical</option>
                  <option [value]="'accessories'">Accessories</option>
                </select>
              </div>
            </div>
            <div class="form-group" *ngIf="newProduct.menu==='Magic'">
              <label for="subcategory">Subcategory</label>
              <select name="subcategory" id="subcategory" class="form-control" [ngSwitch]="newProduct.category"
                [(ngModel)]="newProduct.subcategory">
                <option *ngSwitchCase="'kids'" [value]="lego">Lego</option>
                <option *ngSwitchCase="'practical'" [value]="'inside'">Inside</option>
                <option *ngSwitchCase="'practical'" [value]="'outside'">Outside</option>
                <option *ngSwitchCase="'accessories'" [value]="'jewellery'">Jewellery</option>
                <option *ngSwitchCase="'accessories'" [value]="'phone cases'">Phone cases</option>
                <option *ngSwitchCase="'accessories'" [value]="'other'">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="price">
                Price
              </label>
              <input class="form-control" [(ngModel)]="newProduct.price" type="number" name="product.price" id="price"
                required min="1" #price="ngModel" pattern="^[0-9]+$">
              <div *ngIf="price.invalid && (price.touched || price.dirty)" class="alert alert-danger">Price is required
                and it must be a
                positive number.
              </div>
            </div>
            <div *ngIf="missingData" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Holy guacamole!</strong> {{missingData}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="card-footer text-center">
            <button [disabled]="newProductForm.form.invalid" type="submit" class="btn btn-success"
              (click)="onCreate()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
