extends user

block form
  .form-group
    h6 Firstname
    input.form-control(type='text', placeholder='Enter firstname')
  .form-group
    h6 Lasttname
    input.form-control(type='text', placeholder='Enter lastname')
  .form-group
    h6 Username
    input.form-control(type='text', placeholder='Enter username')
  .form-group
    h6 Email address
    input.form-control(type='email', placeholder='Enter email')
    small.form-text.text-muted We'll never share your email with anyone else.

