extends user

block form
  .form-group
    h6 Country
    input.form-control(type='text', placeholder='Enter cCountry')
  .form-group
    h6 City
    input.form-control(type='text', placeholder='Enter city')
  .form-group
    h6 Postal code
    input.form-control(type='number', placeholder='Enter postal code')
  .form-group
    h6 Street
    input.form-control(type='text', placeholder='Enter street')
  .form-group
    h6 Number
    input.form-control(type='number', placeholder='Enter door number')