extends layout

block content
  .container-fluid.card-container-1
    .video-container
      video#myVideo(autoplay='', muted='', loop='')
        source(src='/img/y2mate.com - satisfying_3d_prints_timelapse_episode_7_prusa_i3_mk3_octopi_Dss1yUHH-QY_1080p.mp4', type='video/mp4')
      //- iframe#myvideo(width='100%', height='auto', src='https://www.youtube.com/embed/JzH6qXySKwM?autoplay=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' )

  .container-fluid.card-container-2
    .row
      .col-6
      .col-6
  .container-fluid.card-container-3
    .row.pt-5
      .col-6.offer-div
        h3 Browse in our categories
    .container
      .row.row-pullup
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-print.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Printers
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-eye.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Scanners
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-fill-drip.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Filaments
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-toolbox.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Tools
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-heartbeat.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Health
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-plug.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Electronics
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-wrench.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Mechanics
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-landmark.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Architecture
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-paper-plane.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Kids
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-cog.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Practical
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        .col-3.mb-4
          .card
            .card-body
              h1.card-title
                i.fas.fa-puzzle-piece.icon(aria-hidden='true')
              a.card-link(href='#').flex-row.d-flex
                h4 Accessories
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='#') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        

  .parallax-1
  .container-fluid.card-container-4
    .row
      .col-6
      .col-6