extends layout

block content
  .container-fluid.card-container-1
    .row
      .col-4.offset-1.mt-5
        h2 3D printing, also known as additive manufacturing, is a manufacturing process where a 3D printer creates three-dimensional objects by depositing materials layer by layer in accordance to the object’s 3D digital model.
      .col-6.offset-1
        .video-container
          video#myVideo(autoplay='', muted='', loop='')
            source(src='/img/y2mate.com - satisfying_3d_prints_timelapse_episode_7_prusa_i3_mk3_octopi_Dss1yUHH-QY_1080p.mp4', type='video/mp4')
      
  //- .container-fluid.parallax-1
  //-   .row
  //-     .col-6
  //-     .col-6
  .container-fluid.card-container-2
    .row.pt-5
      .col-6.offer-div
        h3 Browse in our categories
    .container
      .row.row-pullup
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-print.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=printers').flex-row.d-flex
                h4 Printers
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-eye.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=scanners').flex-row.d-flex
                h4 Scanners
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-fill-drip.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=filaments').flex-row.d-flex
                h4 Filaments
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-toolbox.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=tools').flex-row.d-flex
                h4 Tools
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-heartbeat.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=health').flex-row.d-flex
                h4 Health
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-plug.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=electronics').flex-row.d-flex
                h4 Electronics
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-wrench.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=mechanics').flex-row.d-flex
                h4 Mechanics
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-landmark.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=arthitecture').flex-row.d-flex
                h4 Architecture
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-paper-plane.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=kids').flex-row.d-flex
                h4 Kids
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=kids&practical&accessories') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-cog.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=practical').flex-row.d-flex
                h4 Practical
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=kids&practical&accessories') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-puzzle-piece.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=accessories').flex-row.d-flex
                h4 Accessories
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=kids&practical&accessories') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        

  //- .container-fluid.parallax-2
  .container-fluid.card-container-3
    .container
      .row
        .col-2.offset-1.rabbit-img
          img(src="/img/e17238bedeb96b36bd533f0eb0652e82.jpg", alt="rabbit")
          i.fas.fa-gem.icon(aria-hidden='true')
        .col-8.rabbit-square
          .col-8.offset-4
            h1 We work together as a passionate group of people with love to design
            h5.mt-3 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            a.btn.btn-outline-info.btn-lg.mt-5(href='#') Button to smthin