doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  body
    nav.navbar.sticky-top
      a(href='/')
        img.logo(src='/img/dome2.png' alt='logo')
      if user
        if user.role == 'admin'
          a.dropdown-btn(href='#')
            span.username.mt-2 #{ user.username }
          .dropdown-container.dropdown-user
            a.nav-link(href='http://localhost:4200') Admin
            a.nav-link(href='/logout') Logout
        if user.role == 'user'
          a(href='/basket')
            img.cart-img(src='/img/shopping-cart (3).png' alt='cart')
          a.dropdown-btn(href='#')
            #user-pic-div
              img.user-pic(src=`/img/users/${user.pictureurl}` alt='user picture')
          .dropdown-container.dropdown-user
            a.nav-link(href='/user') Profile
            a.nav-link(href='/orders') Orders
            a.nav-link(href='/logout') Logout
      else
        a#login-btn.btn.btn-outline-info(href='/login') Login
      button.openbtn(onclick='openNav()') ☰

    .header
      .title.text-center.mt-5.col-md-4.col-12
        h1.beyond beyond
        h1.paper paper
        a.btn.actionButton.mt-5(href='/products') See our products
      #picture.col-12.col-lg-7.col-md-5flex-row.d-flex
        .hole-1
        .hole-2

    #mySidebar.sidebar
      ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu', style='display: block; position: static; margin-bottom: 5px; *width: 180px;')
        li
          a.nav-link(href='#') Home
        li
          a.nav-link(href='#') Contacts
        li
          a.nav-link.dropdown-btn(href='#') Products
          .dropdown-container
            ul
              li.dropdown-submenu.caret-off
                a.nav-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                ul.dropdown-menu
                  li
                    a(href='/products/1?08c=printers') Printers
                  li
                    a.nav-link(href='/products/1?08c=scanners') Scanners
                  li
                    a.nav-link(href='/products/1?08c=filaments') Filaments
                  li
                    a.nav-link(href='/products/1?08c=tools') Tools
  
              li.dropdown-submenu.caret-off
                a.nav-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                ul.dropdown-menu
                  li
                    a(href='/products/1?08c=health') Health
                  li
                    a.nav-link(href='/products/1?08c=electronics') Electronics
                  li
                    a.nav-link(href='/products/1?08c=mechanics') Mechanics
                  li
                    a.nav-link(href='/products/1?08c=arthitecture') Architecture

              li.dropdown-submenu.caret-off
                a.nav-link(href='/products/1?08c=kids&practical&accessories') Magic
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href='/products/1?08c=kids') Kids
                    ul.dropdown-menu
                      li
                        a(href='/products/1?08s=lego') Lego
                  li.dropdown-submenu
                    a.nav-link(href='/products/1?08c=practical') Practical
                    ul.dropdown-menu
                      li
                        a(href='/products/1?08s=inside') Inside
                      li
                        a(href='/products/1?08s=outside') Outside
                  li.dropdown-submenu
                    a.nav-link(href='/products/1?08c=accessories') Accessories
                    ul.dropdown-menu
                      li
                        a(href='/products/1?08s=jewellery') Jewellery
                      li
                        a(href='/products/1?08s=phone-cases') Phone cases
                      li
                        a(href='/products/1?08s=other') Other

              li.without-arrow
                a.nav-link(href='#') Print your own idea

      a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×


    block content
    footer.footer_area
      .container
        .row
          .col-md-4.col-sm-6
            .single_ftr
              h4.sf_title Contacts
              ul
                li Peterdy Str. 205, BUDAPEST, 1071,
                  br
                  | HUNGARY
                li Amy Santiago - CS colleague
                  br
                  |(+36) 68 78 5455
                li Rosa Diaz - CS colleague
                  br
                  |  (+36) 33 987 6245
                li beyond.paper.webshop@gmail.com
          // End Col
          .col-md-4.col-sm-6
            .single_ftr
              h4.sf_title Information
              ul
                li
                  a(href='#') About Us
                li
                  a(href='#') Delivery Information
                li
                  a(href='#') Privacy Policy
                li
                  a(href='#') Terms & Conditions
                li
                  a(href='#') Contact Us
          // End Col
          .col-md-4.col-sm-6
            .single_ftr
              h4.sf_title Newsletter
              .newsletter_form
                p Are you interested in 3D printing technology
                  br
                  | and new developments?
                form.form-inline#thankYouForm
                  input#newsLetterEmail.form-control(name='newsLetterEmail', placeholder='Enter Your Email', type='email')
                  button.btn.btn-default(type='submit')
                    i.fas.fa-pen-nib
          // End Col
      .ftr_btm_area
        .container
          .row
            .col-sm-4
              .ftr_social_icon
                ul
                  li
                    a(href='facebook.com')
                      i.fab.fa-facebook-f
                  li
                    a(href='google.com')
                      i.fab.fa-google
                  li
                    a(href='linkedin.com')
                      i.fab.fa-linkedin-in
                  li
                    a(href='twitter.com')
                      i.fab.fa-twitter
                  li
                    a(href='instagram.com')
                      i.fab.fa-instagram
            .col-sm-4
              p.copyright_text.text-center © 2019 All Rights Reserved Beyond Paper Co.
            .col-sm-4
              .payment_mthd_icon.text-right
                ul
                  li
                    i.fab.fa-cc-paypal
                  li
                    i.fab.fa-cc-visa
                  li
                    i.fab.fa-cc-discover
                  li
                    i.fab.fa-cc-mastercard
                  li
                    i.fab.fa-cc-amex

    // thank you Modal
    #thanksModal.modal.fade.text-center.py-5(style='top:30px', tabindex='-1', role='dialog', aria-hidden='true' aria-labelledby="mySmallModalLabel")
      .modal-dialog.modal-md(role='document')
        .modal-content
          .modal-body
            img.modal-img(src='/img/poly-bird.png')
            h3.pt-2.mb-0#answer
            p.pb-3.text-muted
              small View some interesting videos on youtube in this subject!
            a.btn.btn-secondary.text-white.mb-3(role='button', href='https://www.youtube.com/results?search_query=3d+printing', target='_blank') 3D PRINTING




    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.bundle.min.js')
    //-script(src='/bootstrap/dist/js/')
    script(src='/scripts/navbar.js')
    script(src='/scripts/filter.js')
    script(src='/scripts/user-page.js')
    script(src='/scripts/search.js')
    script(src='/scripts/userFetch.js')
    script(src='/scripts/register-alerts.js')
    script(src='/scripts/newsletter.js')