doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  body
    block content

  script(src="/javascripts/jquery-3.3.1.slim.min.js")
  script(src="/bootstrap/dist/js/bootstrap.bundle.min.js")