doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    //-link(href="jplist.core.min.css" rel="stylesheet" type="text/css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  body
    nav.navbar.sticky-top
      a(href='/')
        img.logo(src='/img/dome2.png' alt='logo')
      if user
        if user.role == 'admin'
          a.dropdown-btn(href='#')
            span.username.mt-2 #{ user.username }
          .dropdown-container.dropdown-user
            a.nav-link(href='http://localhost:4200') Admin
            a.nav-link(href='/logout') Logout
        if user.role == 'user'
          a(href='/basket')
            img.cart-img(src='/img/shopping-cart (3).png' alt='cart')
          a.dropdown-btn(href='#')
            #user-pic-div
              img.user-pic(src=`/img/users/${user.pictureurl}` alt='user picture')
          .dropdown-container.dropdown-user
            a.nav-link(href='/user') Profile
            a.nav-link(href='/orders') Orders
            a.nav-link(href='/logout') Logout
      else
        a#login-btn.btn.btn-outline-info(href='/login') Login
      button.openbtn(onclick='openNav()') ☰

    .header
      .title.text-center.mt-5.col-md-4.col-12
        h1.beyond beyond
        h1.paper paper
        a.btn.actionButton.mt-5(href='/products') See our products
      #picture.col-12.col-lg-7.col-md-5flex-row.d-flex
        .hole-1
        .hole-2

    #mySidebar.sidebar
      ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu', style='display: block; position: static; margin-bottom: 5px; *width: 180px;')
        li
          a.nav-link(href='#') Home
        li
          a.nav-link(href='#') Contacts
        li
          a.nav-link.dropdown-btn(href='#') Products
          .dropdown-container
            ul
              li.dropdown-submenu.caret-off
                a.nav-link(href='/products/1?c=printers&scanners&tools&filaments') Printers and Scanners
                ul.dropdown-menu
                  li
                    a(href='/products/1?c=printers') Printers
                  li
                    a.nav-link(href='/products/1?c=scanners') Scanners
                  li
                    a.nav-link(href='/products/1?c=filaments') Filaments
                  li
                    a.nav-link(href='/products/1?c=tools') Tools
  
              li.dropdown-submenu.caret-off
                a.nav-link(href='/products/1?c=health&electronics&mechanics&arthitecture') Science
                ul.dropdown-menu
                  li
                    a(href='/products/1?c=health') Health
                  li
                    a.nav-link(href='/products/1?c=electronics') Electronics
                  li
                    a.nav-link(href='/products/1?c=mechanics') Mechanics
                  li
                    a.nav-link(href='/products/1?c=arthitecture') Architecture

              li.dropdown-submenu.caret-off
                a.nav-link(href='/products/1?c=kids&practical&accessories') Magic
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href='/products/1?c=kids') Kids
                    ul.dropdown-menu
                      li
                        a(href='/products/1?s=lego') Lego
                  li.dropdown-submenu
                    a.nav-link(href='/products/1?c=practical') Practical
                    ul.dropdown-menu
                      li
                        a(href='/products/1?s=inside') Inside
                      li
                        a(href='/products/1?s=outside') Outside
                  li.dropdown-submenu
                    a.nav-link(href='/products/1?c=accessories') Accessories
                    ul.dropdown-menu
                      li
                        a(href='/products/1?s=jewellery') Jewellery
                      li
                        a(href='/products/1?s=phone-cases') Phone cases
                      li
                        a(href='/products/1?s=other') Other

              li.without-arrow
                a.nav-link(href='#') Print your own idea

      a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×


    block content
    .footer
      .container-fluid
        .row
          .col-4


    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.bundle.min.js')
    //-script(src='/bootstrap/dist/js/')
    script(src='/scripts/navbar.js')
    script(src='/scripts/filter.js')
    script(src='/scripts/user-page.js')
    script(src='/scripts/search.js')
    script(src='/scripts/productsPerPage.js')
    //-script(src="jplist.core.min.js")