doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .register.container-fluid
      .container.register-container

        .alert.alert-info.col-4.offset-4.alert-dismissible.fade(role='alert')
          |  All fields are required!
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×

        .d-flex.justify-content-center
          .card.register-card
            .card-header
              h3 Registration
              .d-flex.justify-content-end.social_icon
                span
                  i.fab.fa-facebook-square
                span
                  i.fab.fa-google-plus-square
                span
                  i.fab.fa-twitter-square
            .card-body
              form(method='POST' action='/register' role='form')
                .input-group.form-group
                  input#firstName.form-control(type='text', name='firstName', placeholder='Firstname**', onfocus="clearInput('#firstName')", onblur="firstNameCheck()")
                .input-group.form-group
                  input#lastName.form-control(type='text', name='lastName', placeholder='Lastname**', onfocus="clearInput('#lastName')", onblur="lastNameCheck()")
                .input-group.form-group
                  input#userName.form-control(type='text', name='userName', placeholder='Username**', onfocus="clearInput('#userName')", onblur="userNameCheck()")
                .input-group.form-group
                  input#email.form-control(type='email', name='email', placeholder='Email**  eg.: abcd@abc.ab', onfocus="clearInput('#email')", onblur="emailCheck()")
                .input-group.form-group
                  input#password.form-control(type='password', name='password', placeholder='Password**', onfocus="clearInput('#password')", onblur="passwordCheck()")
                .input-group.form-group
                  input#passwordAgain.form-control(type='password', name='passwordAgain', placeholder='Password again**', onfocus="clearInput('#passwordAgain')", onblur="passAgainCheck()")
                .form-check.form-check-inline.mb-2
                  input#male.form-check-input.ml-2(type='radio', name='gender' value='male')
                  label.form-check-label(for='male') Male
                  input#female.form-check-input.ml-2(type='radio', name='gender', value='female')
                  label.form-check-label(for='female') Female
                .input-group.form-group
                  input#address.form-control(type='text', name='address', placeholder='Address  eg.: Country, Postcode, City, Street', onfocus="clearInput('#address')", onblur="addressCheck()")
                .form-group
                  input.btn.float-right.login_btn(type='submit', value='Register')
            .card-footer
              .d-flex.justify-content-center.links
                | Already have an account?
                a(href='/login') Login

    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/scripts/register-alerts.js')