<div class="container">
  <div class="row">
    <h3>Users</h3>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-4">
      <input type="text" class="form-control" name="search" placeholder="Search..." id="search"
        [(ngModel)]="searchedPhrase">
    </div>
    <div class="col-2">
      <select name="role" id="userRole" class="form-control" [(ngModel)]="filterPhrase">
        <option value="user">Users</option>
        <option value="admin">Admins</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Picture</th>
            <th (click)="setOrderBy('firstname')">Name &#8645;</th>
            <th (click)="setOrderBy('username')">Username &#8645;</th>
            <th (click)="setOrderBy('email')">Email &#8645;</th>
            <th (click)="setOrderBy('address')">Address &#8645;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor='let user of users$ | async |role:filterKey:filterPhrase |search:searchedPhrase |orderby:orderKey:orderDirection:changeCounter | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize'>
            <td>
              <div class="user-picture-div">
                <img [src]="linkImg(user.pictureurl)" alt="picture" class="user-picture">
              </div>
            </td>
            <td>{{user.firstname}} {{user.lastname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>
              <div class="btn-group">
                <a routerLink="/user/update/{{user._id}}" class="btn btn-info">Edit</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" (click)="onDeleteModal(user._id)">Delete
                </button>
                <div class="modal fade" [id]="user._id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete {{user.firstname}}
                          {{user.lastname}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        This action will set the user's name to <i>'deleted user'</i>.
                        <br>
                        Are you sure, you want to do this?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" (click)="onDelete(user._id)" data-dismiss="modal"
                          class="btn btn-danger close">Yes, I'm
                          sure</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <div *ngIf="users$.value.length>pageSize" class="pagination mt-3">
          <ngb-pagination [collectionSize]="users$.value.length" [pageSize]="pageSize" [(page)]="page" [maxSize]="5"
            [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </table>
    </div>
  </div>
</div>
