<div class="container-fluid admin-back">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <ul class="list-group">
      <!-- Separator with title -->
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>MAIN MENU</small>
      </li>
      <!-- /END Separator -->
      <!-- Menu with submenu -->
      <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-dashboard fa-fw mr-3"></span>
          <span class="menu-collapsed">Dashboard</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id='submenu1' class="collapse sidebar-submenu">
        <a href="/piechart" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="fa fa-pie-chart fa-sm mr-3"></span>
          <small class="menu-collapsed">Piechart</small>
        </a>
        <a href="/linechart" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="fa fa-line-chart fa-sm mr-3"></span>
          <small class="menu-collapsed">Linechart</small>
        </a>
      </div>
      <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-cubes fa-fw mr-3"></span>
          <span class="menu-collapsed">Products</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id='submenu2' class="collapse sidebar-submenu">
        <a href="/products" class="list-group-item list-group-item-action bg-dark text-white">
          <small class="menu-collapsed">List</small>
        </a>
        <a href="/reports/products" class="list-group-item list-group-item-action bg-dark text-white">
          <small class="menu-collapsed">Reports</small>
        </a>
      </div>
      <a href="#submenu3" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-users fa-fw mr-3"></span>
          <span class="menu-collapsed">Users</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id='submenu3' class="collapse sidebar-submenu">
        <a href="/users" class="list-group-item list-group-item-action bg-dark text-white">
          <small class="menu-collapsed">List</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <small class="menu-collapsed">Reports</small>
        </a>
      </div>
      <a href='/reviews'>
        <span class="fa fa-comments fa-fw mr-3"></span>
        Reviews
      </a>
      <a href="#submenu4" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-shopping-cart fa-fw mr-3"></span>
          <span class="menu-collapsed">Orders</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id='submenu4' class="collapse sidebar-submenu">
        <a href="/orders" class="list-group-item list-group-item-action bg-dark text-white">
          <small class="menu-collapsed">List</small>
        </a>
        <a href="reports/orders" class="list-group-item list-group-item-action bg-dark text-white">
          <small class="menu-collapsed">Reports</small>
        </a>
      </div>
      <!-- Separator with title -->
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>OPTIONS</small>
      </li>
      <!-- /END Separator -->
      <a href="#" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-calendar fa-fw mr-3"></span>
          <span class="menu-collapsed">Calendar</span>
        </div>
      </a>
      <a href="#" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-envelope-o fa-fw mr-3"></span>
          <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
        </div>
      </a>
      <!-- Separator without title -->
      <li class="list-group-item sidebar-separator menu-collapsed"></li>
      <!-- /END Separator -->
      <a href="#" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-question fa-fw mr-3"></span>
          <span class="menu-collapsed">Help</span>
        </div>
      </a>
    </ul><!-- List Group END-->
  </div>
  <div class="row">
    <div class="col-3">
      <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Menu</span>
    </div>
    <div class="col-8 mt-3 d-flex justify-content-end">
      <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Notifications</a>
          <div class="dropdown-menu dropdown-menu-right">
            <div *ngFor="let notification of notifications$|async|slice:0:5">
              <a class="dropdown-item" href='{{notification.subject}}'> {{notification.notification}}</a>
              <small class="ml-4">{{notification.insdate | date: 'MMM dd, HH:mm'}}</small>
              <div class="dropdown-divider"></div>
            </div>
            <div class="text-center">
              <a href='/notifications' class="text-center">Show all notifications</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="main" id="main">
    <router-outlet></router-outlet>
  </div>
</div>
