@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Staatliches|Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Raleway|Roboto&display=swap');

@font-face {
  font-family: "Cubic";
  src: url("./../fonts/cubic.ttf");
}

/* 
font-family: 'Tomorrow', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Odibee Sans', cursive;
 */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.products-page,
.product-page,
.user-page {
  font-family: 'Staatliches', cursive;
}

/*  ---  LOGIN, REGISTER AND ERRORPAGE START ---  */
.login,
.register,
.error-page {
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.login,
.register {
  background-size: cover;
  background-image: url('./../img/maxresdefault.jpg');
  font-family: 'Numans', sans-serif;
}

.error-page {
  background-size: 120%;
  background-position-x: right;
  background-image: url('./../img/polygon-planet.jpg');
  font-family: 'Odibee Sans', cursive;
}

.login-container,
.register-container,
.error-container {
  height: 100%;
}

.error-container h1 {
  font-size: 170pt;
}

.error-container h3 {
  font-size: 60pt;
}

.login-card,
.register-card {
  position: absolute;
  top: 100px;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.login-card {
  width: 400px;
  top: 200px;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: rgb(21, 231, 179);
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3,
label {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: rgb(21, 231, 179);
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: black;
  background-color: rgb(21, 231, 179);
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

/*  ---  LOGIN, REGISTER AND ERRORPAGE END ---  */

/* The sidebar menu */
.sidebar {
  height: 480px;
  width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  background-color: #111;
  overflow-x: visible;
  padding-top: 60px;
  transition: margin-left, 0.5s;
  font-family: 'Tomorrow', sans-serif;
  z-index: 2;
}

/* The sidebar links */
.sidebar a,
.dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15pt;
  color: #898f91;
  display: block;
  transition: 0.3s;
  border: none;
  background-color: transparent;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #3a444b;
  padding: 10px 15px;
  border: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.openbtn:hover {
  background-color: #444;
  color: whitesmoke;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.header,
#user-pic-div,
.dropdown-user,
#login-btn,
nav {
  transition: margin-right, .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.header {
  background-color: #222;
  height: 400px;
  display: flex;
  z-index: 2;
}

nav {
  background-color: #222;
  height: 80px;
}

.actionButton {
  background-color: #3a4b4b;
  color: whitesmoke;
}

.actionButton:hover {
  background: -webkit-linear-gradient(-86deg, rgb(91, 248, 235) 5%, rgb(47, 148, 139) 53%, rgb(5, 76, 88) 91%);
}

.logo {
  width: 60px;
  position: fixed;
  top: 15px;
}

.beyond,
.paper {
  font-family: "Cubic";
  font-size: 50pt;
  background: -webkit-linear-gradient(-86deg, rgb(91, 248, 235) 5%, rgb(47, 148, 139) 53%, rgb(5, 76, 88) 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #232d2d;
  height: 30%;
}


#picture {
  background-image: url('./../img/8647.jpg');
  height: 90%;
  background-size: cover;
  background-position: center;
}

.hole-1,
.hole-2 {
  height: 100%;
  width: 8%;
  background-color: #222;
  margin-left: 28%;
}

.dropdown-container {
  display: none;
  background-color: #111;
}

.dropdown-container ul {
  list-style: none;
  padding-left: 0;
}

li .without-arrow>a {
  margin-left: 20px;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  width: 200px;
  top: 0;
  left: -200px;
  margin-top: -6px;
  background-color: #111;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: "\23F4";
  float: left;
  left: 0;
  border-left-color: #cccccc;
}

.caret-off::before {
  display: none;
}

.caret-off::after {
  display: none;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu {
  float: none;
}

.dropdown-submenu>.dropdown-menu {
  right: -100%;
  margin-right: 10px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6 6px 6px;
}

.product-card {
  height: 450px;
  max-width: 300px;
}

.card-img-top {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.image-div {
  height: 200px;
  overflow: hidden;
}

.filter-block {
  height: 30%;
  padding: 10px;
  top: 80px;
  border-radius: 5px;
  scroll-behavior: auto;
  z-index: 1;
}

#user-pic-div {
  width: 40px;
  height: 40px;
  background: -webkit-linear-gradient(rgb(91, 248, 235) 5%, rgb(47, 148, 139) 53%, rgb(5, 76, 88) 93%);
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 93%;
}

#login-btn,
.username {
  position: absolute;
  right: 70px;
  top: 20px;
  font-size: 12pt;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.cart-img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 89%;
}

.dropdown-notifications {
  position: absolute;
  left: 113%;
  top: -33px;
}

.dropdown-notifications a,
.dropdown-menu {
  background-color: #212224;
  color: #60caca;
  border-radius: 3px;

}

.notificationNum {
  position: absolute;
  top: 26px;
  left: 65%;
}

.basketNum {
  position: absolute;
  top: 40px;
  left: 92%;
}


.dropdown-user {
  width: 80px;
  position: absolute;
  top: 80px;
  left: 93%;
  background-color: #3a4b4b;
  border-radius: 3px;
}

.dropdown-user a {
  color: #898f91;
}

.dropdown-user a:hover {
  color: #f1f1f1;
}

.dropdown-notifications a:hover {
  color: #f1f1f1;
  background-color: #212224;

}

a.nav-link,
span.fa-bell {
  color: #60caca;
  background-color: #212224;
}

.user-img-div {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: -webkit-linear-gradient(rgb(91, 248, 235) 5%, rgb(47, 148, 139) 53%, rgb(5, 76, 88) 93%);
  margin: auto;
  margin-top: 100px;
}

.user-img-div:hover {
  cursor: pointer;
}

.user-img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.user-name {
  text-align: center;
}

.oneRow {
  background-color: #eee;
  width: 300px;
  height: 40px;
  margin: auto;
  margin-top: 3px;
  padding: 10px;
}

.oneRow p {
  color: #626f79;
}

.oneRow:hover {
  background-color: #aeb4b6;
  cursor: pointer;
}

.oneRow:hover .icon,
.oneRow:hover p {
  color: #212224;
}

.icon {
  color: #626f79;
}

.user-form {
  font-family: 'Bebas Neue', cursive;
  margin-top: 100px;
  display: none;
}

.user-form input {
  font-family: 'Roboto', sans-serif;
}

.quantity {
  width: 60px;
  background-color: #fff !important;
  text-align: center;
}

.edit:disabled {
  background-color: #fff;
  border: 0px
}

.hidden {
  display: none;
}

.btn-show {
  position: absolute;
  bottom: 5%;
}

.btn-back {
  border: 2px solid grey;
  color: #898f91;
}

.parallax-2 {
  opacity: 0.8;
  height: 300px;
  background-attachment: fixed;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./../img/hexagon.jpg');
}

.carousel-container,
.parallax-1 {
  font-family: 'Odibee Sans', cursive;
}

.card-container-3 {
  height: 800px;
}

.card-container-2 {
  height: 900px;
}

.card-container-1 {
  height: 500px;
  font-family: 'Odibee Sans', cursive;
  color: #3a444b;
}

.card-container-1,
.card-container-3,
.card-container-2 {
  background-color: rgb(199, 199, 199);
  padding-top: 50px;
  margin: 0;
}

.parallax-1 {
  background-color: #000;
  background-image: url('./../img/kisspng-hexagonal-tiling-sphere-hex-map-grid-5abe340ee0d9f0.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: center;
  background-position-y: top;
  height: 400px;
}

.carousel-img {
  max-width: 100%;
  max-height: 200px;
}


.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 40px;
  position: relative;
}

.rating>input {
  display: none;
}

.rating>label {
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

* {
  box-sizing: border-box;
}

.offer-div {
  background-color: #4f5050;
  color: whitesmoke;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-pullup {
  margin-top: -50px;
}

.menu-link {
  display: flex;
  float: right;
  align-items: baseline;
}

.card-link {
  color: #60caca;
}

.card-link:hover {
  color: rgb(29, 135, 143) !important;
}

.video-container {
  margin: 0;
  height: 60vh;
  width: auto;
}

#myVideo {
  width: 80%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.card-browse {
  border: none;
}

.card-browse:hover,
.card-browse:focus {
  background-color: #72d6d1;
  transition: all 0.4s ease-in-out 0s;
}

.card-browse:hover .card-link {
  color: #fff;
}

#account {
  display: block;
}

.checkX {
  display: none;
}

.rabbit-img {
  padding-top: 200px;
  display: flex;
}

.rabbit-img img {
  height: 400px;
  z-index: 2;
}

.rabbit-square {
  border: 20px solid rgba(33, 204, 226, 0.6);
  height: 500px;
  color: whitesmoke;
  z-index: 1;
  font-family: 'Odibee Sans', cursive;
  padding: 50px;
}

.square {
  border: 20px solid rgba(33, 204, 226, 0.6);
  height: 250px;
  z-index: -1;
  padding: 0px;
  position: relative;
  left: -10vw;
  top: 12vh;
}

.square img {
  max-height: 200px;
  z-index: 2;
  display: flex;
  position: absolute;
  left: 27vw;
  top: 7vh;
  /* border: 10px solid rgb(199, 199, 199); */
}

.grey-square {
  border: 15px solid rgb(199, 199, 199);
  height: 270px;
  z-index: 1;
  padding: 0px;
  position: relative;
  top: -3vh;
}

.carousel-control-prev {
  position: absolute;
  left: -70px !important;
}

.carousel-control-next {
  position: absolute;
  right: -50px !important;
}

.review-pic {
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(rgb(91, 248, 235) 5%, rgb(47, 148, 139) 53%, rgb(5, 76, 88) 93%);
  border-radius: 50px;
  overflow: hidden;
}

.fa-gem {
  color: rgb(33, 204, 226);
  font-size: 6em;
  z-index: 3;
  padding-top: 260px;
  position: relative;
  left: -370px;
  opacity: 0.6;
}


/*  ---  FOOTER START ---  */
ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0;
}

.footer_area {
  padding: 60px 0 20px;
  position: relative;
  color: #fff;
  z-index: 100;
  background: #222;
  word-break: break-all;
  word-wrap: break-word;
}

.single_ftr form {
  margin-top: 8px;
}

.single_ftr p {
  margin-bottom: 10px;
}

.sf_title {
  color: rgb(47, 148, 139);
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 550;
  margin-top: 0px;
  margin-bottom: 15px;
}

.ftr_logo {
  float: left;
  padding: 15px 46px 0 0;
}

.ftr_logo a img {
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.ftr_logo a:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
}

.newsletter_form form {
  position: relative;
  display: block;
}

.newsletter_form {
  margin-top: 0px;
  overflow: hidden;
}

.single_ftr p {
  display: inline-block;
}

.newsletter_form .form-control {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 8px 20px;
  width: 100%;
  position: relative;
  background: transparent;
  color: #fff;
  border-radius: 0;
}

.newsletter_form button {
  border: inherit;
  border-radius: 0;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  box-shadow: none;
  border: 1px solid transparent;
  transition: 0.5s;
  letter-spacing: 0.5px;
  position: absolute;
  right: 0px;
  top: 0;
  padding: 12px 17px;
  transition: .5s;
}

.newsletter_form button:hover {
  background: transparent;
  color: rgb(47, 148, 139);
  opacity: .9;
}

.newsletter_form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1
}

.newsletter_form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: 1
}

.newsletter_form :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  opacity: 1
}

.newsletter_form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  opacity: 1
}

.form-control:focus {
  border-color: rgb(47, 148, 139);
}

.single_ftr li {
  padding-bottom: 7px;
  color: #fff;
}

.single_ftr a {
  color: #fff;
}

.single_ftr a:hover {
  color: rgb(47, 148, 139);
}

.ftr_social_icon li {
  display: inline-block;
  text-align: center;
  padding: 4px;
}


.ftr_social_icon ul li a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  height: 40px;
  line-height: 32px;
  padding: 4px 8px;
  width: 40px;
  transition: .5s;
}

.ftr_social_icon ul li a:hover {
  background: rgb(47, 148, 139);
  border-color: rgb(47, 148, 139);
  color: #fff;
}

.ftr_btm_area {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px dotted #888;
  margin-top: 28px;
  z-index: 100;
  position: relative;
}

.copyright_text {
  margin: 6px 0;
}

.payment_mthd_icon li {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  color: #fff;
}

/*  ---  FOOTER END ---  */

/*   --- MODAL START ---   */

.modal-img {
  margin-top: -85px;
  width: 30%;
  border-radius: 45%;
  padding: 15px;
  background: #1c2b38;
}

.modal-content {
  background-color: #1c2b38;
  color: whitesmoke;
  border: none;
}

/*   --- MODAL END ---   */