        <div class="card">
          <div class="card-header">
            <h3>Edit this product!</h3>
          </div>
          <form action="http://localhost:3000/api/products/update/{{product.seo}}" method="post">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" placeholder="Name" class="form-control" name="product.name" id="name"
                  [(ngModel)]="product.name" disabled>
              </div>
              <div class="form-group">
                <label for="seo">
                  Seo
                </label>
                <input class="form-control" [(ngModel)]="product.seo" type="text" name="product.seo" id="seo" disabled>
              </div>
              <div class="form-group">
                <label for="brand">
                  Brand
                </label>
                <input class="form-control" [(ngModel)]="product.brand" type="text" name="product.brand" id="brand"
                  required>
              </div>
              <div class="form-group">
                <label for="description">
                  Description
                </label>
                <textarea class="form-control" [(ngModel)]="product.description" name="product.description"
                  id="description" required></textarea>
              </div>
              <div class="form-group">
                <label for="img">
                  Image
                </label>
                <br>
                <input type="file" [(ngModel)]="product.img" name="photo" ng2FileSelect [uploader]="uploader" />

                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                  [disabled]="!uploader.getNotUploadedItems().length">
                  Upload
                </button>
              </div>
              <div class="form-group">
                <label for="video">
                  Video
                </label>
                <input class="form-control" [(ngModel)]="product.video" type="text" name="product.video" id="video"
                  required>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label for="menu">Menu</label>
                  <select name="menu" id="menu" class="form-control" [(ngModel)]="product.menu">
                    <option [value]="'Printers and Scanners'">Printers and Scanners</option>
                    <option [value]="'Science'">Science</option>
                    <option [value]="'Magic'">Magic</option>
                    <option [value]="'Print your own idea'">Print your own idea</option>
                  </select>
                </div>
                <div *ngIf="product.menu" class="form-group">
                  <label for="category">
                    Category
                  </label>
                  <div [ngSwitch]="product.menu">
                    <!-- the same view can be shown in more than one case -->
                    <select name="category" class="form-control" [(ngModel)]="product.category"
                      *ngSwitchCase="'Printers and Scanners'">
                      <option [value]="Printers">Printers</option>
                      <option [value]="Scanners">Scanners</option>
                      <option [value]="Filaments">Filaments</option>
                      <option [value]="Tools">Tools</option>
                    </select>

                    <select *ngSwitchCase="'Science'" name="category" class="form-control"
                      [(ngModel)]="product.category">
                      <option [value]="Health">Health</option>
                      <option [value]="Electronics">Electronics</option>
                      <option [value]="Mechanics">Mechanics</option>
                      <option [value]="Architecture">Architecture</option>
                    </select>

                    <select *ngSwitchCase="'Magic'" name="category" class="form-control" [(ngModel)]="product.category">
                      <option [value]="'Kids'">Kids</option>
                      <option [value]="'Practical'">Practical</option>
                      <option [value]="'Accessories'">Accessories</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" *ngIf="product.menu==='Magic'">
                <label for="subcategory">Subcategory</label>
                <select name="subcategory" id="subcategory" class="form-control" [ngSwitch]="product.category"
                  [(ngModel)]="product.subcategory">
                  <option *ngSwitchCase="'Kids'" [value]="Lego">Lego</option>
                  <option *ngSwitchCase="'Practical'" [value]="Inside">Inside</option>
                  <option *ngSwitchCase="'Practical'" [value]="Outside">Outside</option>
                  <option *ngSwitchCase="'Accessories'" [value]="Jewellery">Jewellery</option>
                  <option *ngSwitchCase="'Accessories'" [value]="'Phone cases'">Phone cases</option>
                  <option *ngSwitchCase="'Accessories'" [value]="Other">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="price">
                  Price
                </label>
                <input class="form-control" [(ngModel)]="product.price" type="number" name="product.price" id="price"
                  required>
              </div>
              <div class="card-footer text-center">
                <button type="submit" class="btn btn-success" (click)="onUpdate()">Submit</button>
              </div>
            </div>
          </form>
        </div>
