<div class="container">
  <div class="row mb-3">
    <h3>Orders</h3>
  </div>
  <div class="row">
    <div class="col-3 mb-3">
      <input type="text" name="search" id="search" placeholder="Search..." class="form-control"
        [(ngModel)]="searchedPhrase">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="setOrderBy('user')">user &#8645;</th>
            <th (click)="setOrderBy('product')">product(s) &#8645;</th>
            <th>quantity</th>
            <th (click)="setOrderBy('unitprice')">price &#8645;</th>
            <th (click)="setOrderBy('status')">status &#8645;</th>
            <th (click)="setOrderBy('insdate')">insdate &#8645;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor='let order of orders$ | async |search:searchedPhrase| orderby:orderKey:orderDirection:changeCounter |slice: (page - 1) * pageSize: (page - 1) * pageSize + pageSize'>
            <td>{{order.user.firstname}} {{order.user.lastname}}</td>
            <td>
              <p *ngFor='let product of order.product'>{{product.name}}</p>
            </td>
            <td>
              <p *ngFor='let quantity of order.quantity;index as i'>{{quantity[order.product[i].name]}}</p>
            </td>
            <td>${{order.unitprice}}</td>
            <td>{{order.status}}</td>
            <td>{{order.insdate |date:'medium'}}</td>
            <td>
              <div class="btn-group">
                <a routerLink="/order/update/{{order._id}}" class="btn btn-info">Edit</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" (click)="onDeleteModal(order._id)">Delete
                </button>
                <div class="modal fade" [id]="order._id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete {{order.user.firstname}}
                          {{order.user.lastname}}'s order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        This action will set the order's status to cancelled.
                        <br>
                        Are you sure, you want to do this?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" (click)="onDelete(order._id, order.user._id)" data-dismiss="modal"
                          class="btn btn-danger close">Yes, I'm
                          sure</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <div *ngIf="orders$.value.length>pageSize" class="pagination mt-3">
          <ngb-pagination [collectionSize]="orders$.value.length" [pageSize]="pageSize" [(page)]="page" [maxSize]="5"
            [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </table>
    </div>
  </div>
</div>
